/* 
    Document   : lastiras
    Created on : 17/07/2011, 13:42:39
    Author     : matheus
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
div.page{

}

.profileimage {
    width: 0px;
    height: 0px;
}

#panelSubscribe{
    font-size: 10px;
    font-weight: lighter;
    color: black;
}

#datePanelGrip{
    font-size: 30px;
    font-weight: bolder;
    color: black;
    text-align: center;
}

#currentDate{
    text-align: center;
}

div.headerNew{
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 100px;
    font-family: "Showcard Gothic";
    font-size: 20px;
    font-weight: bolder;
    border: black;
    color: blue;
}

div.contentNew{
    
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 700px;
    height: 700px;
    border: black;
}

div.footerNew{
    font-size: 8px;
    font-weight: lighter;
    margin-right: auto; 
    margin-left: auto;
    
    width: 700px;
    border: black;
}

div.addnews{
    position: fixed;
    font-size: 15px;
    font-family: "arial";
    color: white;
    top: 200px;
    background-color: gray;
    width: 40px;
}


.share-toolbar {
    clear: both;
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}
ul.share-bar {
    margin: 0; padding: 0;
}
ul.share-bar li {
    float: left; margin: 0; padding: 0; list-style: none;
}
ul.share-bar li.google1 {
    width: 14%;
}
ul.share-bar li.tweet {
    width: 18%;
}
ul.share-bar li.facebook {
    width: 66%;
}